// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$launchpad_logo_blue: rgb(0, 171, 220);
$launchpad_logo_dark: darken($launchpad_logo_blue, 15%);

table {
  margin-top: 30px;
  tr {
    td {
    }
  }
}

.order_review {
  margin-top: 15px;
  margin-bottom: 30px;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding: 10px 0px;
  h2 {
    font-size: 14pt;
    span {
      font-weight: lighter;
    }
  }
  img {
    width: 100px;
  }
  .price {
    float: right;
    vertical-align: bottom;
    color: $launchpad_logo_blue;
    font-weight: bold;
  }
}



.form {
  padding-top: 20px;
  h2 {
    margin-top: 0px;
  }
  form {
    input {
      margin-bottom: 10px;
    }
    input[type='submit'] {
      float: right;
      margin-top: 15px;
    }
  }
  ul {
    color: red;
    text-align: left;
  }
}

