// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$launchpad_logo_blue: rgb(0, 171, 220);
$launchpad_logo_dark: darken($launchpad_logo_blue, 15%);

html {
  height: 100%;
}

body {
  background: url('grey.png');
  height: 100%;
}

.btn-primary {
  background: $launchpad_logo_blue;
  &:hover {
    background: $launchpad_logo_dark;
  }
}

.container {
  background: white;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  height: inherit;
  max-width: 960px;
  padding: 0px;
  .nav {
    margin-bottom: 20px;
    text-align: center;
    li {
      display: inline-block;
    }
  }
}

.product_container, .order_container {
  padding: 15px;
  div {
    img {
      width: 100%;
    }
  }
}

.products_container {
  img {
    width: 100%;
    margin-top: 20px;
    border: 1px solid lightgray;
  }
  p.reveal_orders {
    float: right;
    margin-right: 15px;
    cursor: pointer;
    color: $launchpad_logo_blue;
    &:hover {
      color: $launchpad_logo_dark;
      text-decoration: underline;
    }
  }
  .product_orders {
    h2 {
      display: none;
    }
    table {
      display: none;
    }
  }
}

.notice {
  text-align: center;
  padding: 10px 0px;
  margin: 0px;
  font-weight: bold;
}

h1, h3 {
  text-align: center;
}

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 50pt;
  padding-bottom: 10px;
  a {
    color: inherit;
    &:hover {
      text-decoration: none;
      color: inherit;
    }
  }
}

h3 {
  font-weight: lighter;
  a {
    font-weight: normal;
    color: $launchpad_logo_blue;
    &:hover {
      color: $launchpad_logo_dark;
    }
  }
}

.thumbnail {
  display: inline-block;
  img {
    width: 100%;
    opacity: 0.95;
    border: 1px solid lightgray;
  }
  p {
    margin-bottom: 0px;
    &:nth-of-type(1) {
    float: right;
    }
    &:nth-of-type(2) {
      font-weight: bold;
    }
  }
  &:hover {
    border-color: gray;
    img {
      opacity: 1.0;
    }
  }
}

div.no_padding {
  padding: 0px;
  &.first {
    padding-right: 15px;
  }
}


